<h1>Reset Password</h1> 
<form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
<div class="form-field">
        <mat-form-field appearance="outline">
                <mat-label>Enter Password</mat-label>
                <input matInput placeholder="Enter Password" formControlName="newPassword">
                <span *ngIf="!resetPasswordForm.get('newPassword').valid && resetPasswordForm.get('newPassword').touched" class="help-block" >It's a required field</span>
        </mat-form-field>
</div>
<div class="form-field">
        <mat-form-field appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input matInput placeholder="Confirm Password" formControlName="confirmPassword">
                <span *ngIf="!resetPasswordForm.get('confirmPassword').valid && resetPasswordForm.get('confirmPassword').touched" class="help-block" >It,s a required field</span>
        </mat-form-field>
</div>
<div class="button">
       <button mat-raised-button color="primary">Submit</button>
</div>
</form>
