<h2>Forgot Password</h2>
<form [formGroup]="forgotPassword" (ngSubmit)="onSubmit()">
 <div class="form-field">
        <mat-form-field appearance="outline">
            <mat-label>Enter Email Id</mat-label>
            <input matInput placeholder="enter emailId" formControlName="email">
            <span *ngIf="forgotPassword.get('email').valid && forgotPassword.get('email').untouched"
                class="help-block"></span>
        </mat-form-field>
    </div>
    <div class="button">
        <button mat-raised-button color="primary">Submit</button>
    </div>
</form>

